body{
  padding: 50px;
  z-index: 0;
  background-color: #48D1CC;
}

.jumbotron{
  padding: 40px;
  margin: 0px auto;
  background-color: purple;
  color: floralwhite;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px ridge;
}

.row-footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
