body {
background-color: lightblue;
font-family: Helvetica;
background-image: url("../img/blue.jpg") violet;
}

#main {
width: 80%;
max-width: 950px;
border: 1px gray solid;
margin: auto;
padding: 10px;
background-color: white;
border-radius: 10px;
}

#header {
margin-top: 0;
text-align: center;
border: 2px solid black;
padding: 5px;
height: 25%;
background: beige;
color: red;
}

label {
display: block;
}

input {
width: 30px;
margin-left: 20px;
}

h3 {
clear: both;
padding-top: 20px;
}

button {
width: 100px;
margin-top: 20px;
}

#Submit
{
  float: right;
}
