body {
  font-family: Arial;
  padding: 10px;
  background-image: url("../img/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.header {
  padding: 30px;
  text-align: center;
  background-color: #e0ebeb;
}


.header h1 {
  font-size: 50px;
}


.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav a:hover {
  background-color: #bbb;
  color: black;
}

.details{
    background-color: aliceblue;
    padding: 40px;
    height: 550px;
}
