{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {{ response_formset.management_form }}

    {% for response_form in response_formset %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>
                        {{ field.errors }}
                        {{ field }}                            
                    </td>
                    <td>
                        {% if field.help_text %}
                        {{ field.help_text }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <!-- <td><input type="submit" value="Submit"></td> -->
                </tr>
        </table>
    {% endfor %}

    {% if response_formset.non_form_errors %}
        {% for error in response_formset.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}

    <input type="submit" value="Submit" class="button">
</form>
