{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'stud_app/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<div class="col-6 offset-3">


                <div class="content">
                    <div class="card">
                        <div class="firstinfo"><img src="{% static 'stud_app/img/user_icon.svg' %}" />
                            <div class="profileinfo">
                                <h1 class="stud-name">{{ name }}</h1>
                                <h3>{{ student.dept_fk.dept_name }}</h3>
                                <p class="bio">

                                    <i class="fa fa-phone" aria-hidden="true"> {{ student.phone_no }}</i><br>
                                    <i class="fas fa-envelope"> {{ student.user.email }}</i><br>
                                    <i class="fas fa-birthday-cake"> {{ student.birth_date }}</i><br>

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="badgescard"> 
                        To change details, Contact admin
                    </div>
                </div>
</div>
</div>
</div>            
{% endblock %}

