[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.0"
backcall = "==0.2.0"
colorama = "==0.4.4"
decorator = "==4.4.2"
django-durationwidget = "==1.0.5"
django-extensions = "==3.0.9"
django-nested-admin = "==3.3.2"
ipdb = "==0.13.4"
ipython = "==7.19.0"
jedi = "==0.17.2"
parso = "==0.7.1"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.8"
python-monkey-business = "==1.0.0"
pytz = "==2020.4"
six = "==1.15.0"
sqlparse = "==0.4.1"
traitlets = "==5.0.5"
wcwidth = "==0.2.5"
xlwt = "==1.3.0"
Django = "==3.1.3"
ipython_genutils = "==0.2.0"
Pillow = "==8.0.1"
Pygments = "==2.7.2"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.9"
